body{
    background:linear-gradient(rgb(24, 22, 22),rgb(75, 75, 73),rgb(248, 248, 247));
}
h3 {
    font-size: 25px !important;
}

btn-success:hover{
    background-color: red;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(44, 22, 245);}
    to{box-shadow: 1px 1px 38px rgb(108, 136, 197);}
}